<div class="page-width" data-section-id="{{ section.id }}" data-section-type="featured-video-section">

  {% if section.settings.heading != blank %}
    <h2 class="text-center section-title">{{ section.settings.heading | escape }}</h2>
  {% endif %}

  {% if section.settings.video_url == blank %}
    <iframe src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
  {% else %}
    {% if section.settings.video_url.type == "youtube" %}
      <div id="yt-player-{{ section.settings.video_url.id }}" class="yt-player"></div>
      <script>
        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;

        function onYouTubeIframeAPIReady() {
          player = new YT.Player('yt-player-{{ section.settings.video_url.id }}', {
            height: '480',
            width: '850',
            // videoId: 'PLsMtUWKCmBPRFzqglpk4YQlNFy8wzSXBN',
            playerVars: {
              'autoplay': 0,
              // 'controls': 0,
              'playlist': 'PLsMtUWKCmBPRFzqglpk4YQlNFy8wzSXBN',
              'showinfo': 0,
              'rel': 0
            },
            events: {
              'onReady': onPlayerReady,
              'onStateChange': onPlayerStateChange
            }
          });
        }

        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
          // event.target.playVideo();
          player.cuePlaylist();
        }

        // 5. The API calls this function when the player's state changes.
        // The function indicates that when playing a video (state=1),
        // -1 unstarted 
        // 0 ended 
        // 1 playing
        // 2 paused
        // 3 buffering
        // 5 video cued
        var done = false;

        function onPlayerStateChange(event) {
          if (event.data == YT.PlayerState.ENDED) {
            alert('GGEZWP');
          }
        }

      </script>
    {% endif %}

    {% if section.settings.video_url.type == "vimeo" %}
      <iframe src="//player.vimeo.com/video/{{ section.settings.video_url.id }}?byline=0&portrait=0&badge=0" width="850" height="480" frameborder="0" allowfullscreen></iframe>
    {% endif %}
  {% endif %}
</div>



{% schema %}
{
  "name": {
    "cs": "Video",
    "da": "Video",
    "de": "Video",
    "en": "Video",
    "es": "Video",
    "fi": "Video",
    "fr": "Vidéo",
    "it": "Video",
    "ja": "ビデオ",
    "ko": "동영상",
    "nb": "Video",
    "nl": "Video",
    "pl": "Film",
    "pt-BR": "Vídeo",
    "pt-PT": "Vídeo",
    "sv": "Video",
    "th": "วิดีโอ",
    "tr": "Video",
    "vi": "Video",
    "zh-CN": "视频",
    "zh-TW": "影片"
  },
  "class": "index-section featured-video-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Überschrift",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "Titre",
        "it": "Titolo",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "cs": "Video",
        "da": "Video",
        "de": "Video",
        "en": "Video",
        "es": "Video",
        "fi": "Video",
        "fr": "Vidéo",
        "it": "Video",
        "ja": "ビデオ",
        "ko": "동영상",
        "nb": "Video",
        "nl": "Video",
        "pl": "Film",
        "pt-BR": "Vídeo",
        "pt-PT": "Vídeo",
        "sv": "Video",
        "th": "วิดีโอ",
        "tr": "Video",
        "vi": "Video",
        "zh-CN": "视频",
        "zh-TW": "影片"
      }
    },
    {
      "type": "video_url",
      "id": "video_url",
      "label": {
        "cs": "Odkaz na video",
        "da": "Videolink",
        "de": "Videolink",
        "en": "Video link",
        "es": "Enlace de video",
        "fi": "Videolinkki",
        "fr": "Lien de la vidéo",
        "it": "Link video",
        "ja": "ビデオリンク",
        "ko": "동영상 링크",
        "nb": "Videokobling",
        "nl": "Videolink",
        "pl": "Link filmu",
        "pt-BR": "Link do vídeo",
        "pt-PT": "Ligação do vídeo",
        "sv": "Videolänk",
        "th": "ลิงก์วิดีโอ",
        "tr": "Video bağlantısı",
        "vi": "Liên kết video",
        "zh-CN": "视频链接",
        "zh-TW": "影片連結"
      },
      "accept": [
        "youtube",
        "vimeo"
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "cs": "Video",
        "da": "Video",
        "de": "Video",
        "en": "Video",
        "es": "Video",
        "fi": "Video",
        "fr": "Vidéo",
        "it": "Video",
        "ja": "ビデオ",
        "ko": "동영상",
        "nb": "Video",
        "nl": "Video",
        "pl": "Film",
        "pt-BR": "Vídeo",
        "pt-PT": "Vídeo",
        "sv": "Video",
        "th": "วิดีโอ",
        "tr": "Video",
        "vi": "Video",
        "zh-CN": "视频",
        "zh-TW": "影片"
      },
      "category": {
        "cs": "Video",
        "da": "Video",
        "de": "Video",
        "en": "Video",
        "es": "Video",
        "fi": "Video",
        "fr": "Vidéo",
        "it": "Video",
        "ja": "動画",
        "ko": "동영상",
        "nb": "Video",
        "nl": "Video",
        "pl": "Film",
        "pt-BR": "Vídeo",
        "pt-PT": "Vídeo",
        "sv": "Video",
        "th": "วิดีโอ",
        "tr": "Video",
        "vi": "Video",
        "zh-CN": "视频",
        "zh-TW": "影片"
      }
    }
  ]
}
{% endschema %}
